# PAYONE Commerce-Platform -  MCP Service

# Docker Compose
CONTAINER_NAME_PREFIX=pcp-mcp

# Traefik
TRAEFIK_ROUTER_SERVICE=pcp-mcp
TRAEFIK_HOST_RULE_SERVICE=mcp.patsy-dev.payone-office.de

# MCP Service Port (container-internal)
MCP_PORT=3100

# Keycloak
KEYCLOAK_URL=https://authorize.patsy-dev.payone-office.de
KEYCLOAK_REALM=patsy

# Keycloak Client Credentials for App-Service connection and token validation
KEYCLOAK_CLIENT_ID=pcp-mcp
KEYCLOAK_CLIENT_SECRET=

# Authentication
# Optional: Static API key (simple MVP testing)
INTERNAL_API_KEY=

# Payone Commerce-Platform - Merchant Data
PCP_MERCHANT_ID=
PCP_CC_TOKEN=
PCP_API_KEY=
PCP_API_SECRET=

# Optional: Override PCP API host (default: https://commerce-api.payone.com/v1)
PCP_API_HOST=
